body{
background: url("https://raw.githubusercontent.com/fdch/orkna/master/img/orkna-1.png");
color: rgb(210, 218, 200);
}
main {
/*margin-left: 660px; */
max-width: 600px;
}
h2 {
background-color: rgb(76, 119, 186);
padding: 15px;
border-radius: 20px;
margin-bottom: 15px;
}
h3{
background-color: rgb(76, 119, 186);
padding: 15px;
border-radius: 20px;
margin-bottom: 15px;}
p {
background-color: rgb(0, 0, 0);
padding: 15px;
border-radius: 20px;
margin-bottom: 15px;
color:white;
}
ul{
	list-style: none;
}